<h1>Articles</h1>
<%= form_for :article, :url => "", html: {id: :new_article_form } do |f| %>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
 
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content, size: "70x5" %>
  </p>
 
  <p>
    <%= f.submit :id => 'save_article', :type => 'button', :value => "Add new article" %>
    <input type="button" id="clear_form_button" value="Clear fields">
  </p>
<% end %>

<span id="template">
	<table class="blueTable" id="article_<ID>">
	<thead>
		<tr>
			<th id="article_description_<ID>">
				DESCRIPTION PLACE HOLDER
			</th>
			<th class="article_id">
				id: <span id="article_id_<ID>"><ID></span>
			</th>
			<th class="article_delete">
				<font color="blue">
					<span id="article_destroy_<ID>">delete</span>
				</font>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="3" id="article_content_<ID>">
				CONTENT PLACE HOLDER
			</td>
		</tr>
	</tbody>
	</table>
</span>
