<h1>Articles</h1>
<%= form_for :article, :url => "", html: {id: :new_article_form } do |f| %>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
 
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content, size: "70x5" %>
  </p>
 
  <p>
    <%= f.submit :id => 'save_article', :type => 'button', :value => "Add new article" %>
    <input type="button" id="clear_form_button" value="Clear fields">
  </p>
<% end %>

<table class="blueTable" id="article_23">
<thead>
<tr>
<th id="article_description_23">
	The information in your article about me is wrong. How can I get it fixed?
</th>
<th class="article_id">
	id: <span id="article_id_23">23</span>
</th>
<th class="article_delete">
	<font color="blue">
		<span id="article_destroy_23">delete</span>
	</font>
</th>
</tr>
</thead>
<tbody>
<tr>
<td colspan="3" id="article_content_23">
<p>Wikipedia is the encyclopedia that anyone can edit, but we generally ask people to try to refrain from editing articles about themselves. That's because, as an encyclopedia, Wikipedia needs to present a neutral point of view, and it's very hard for people to be truly objective about themselves.
</p><p>However, we want our articles to be accurate, so we are grateful when people point out mistakes or problems with any article.  It is generally considered okay for you to edit your own article in certain circumstances:
</p>
<ul><li>If it contains minor errors, such as an incorrect date, a mistake in spelling or grammar, or an expired link, then please correct those errors.</li>
<li>If it contains spam, nonsense, or other sorts of vandalism, then please remove that.</li>
<li>If it contains private information you strongly don't want shared, particularly if you are not famous, then please remove that.  This might include, for example, your e-mail address or other private contact information, date of birth, religious affiliation, or sexual orientation.</li>
<li>If its tone is clearly derogatory and either cites questionable sources or doesn't cite any sources at all, then please remove that (but be careful!).</li></ul>
<p><b>Be careful as you edit.</b>  If people think you are misrepresenting the truth or trying to self-promote, then that can sometimes cause more damage to your reputation than a bad Wikipedia article.
</p><p>If you don't want to edit, there are other ways to get an article fixed:
</p>
<ul><li>Click on the tab labeled “discussion” at the top of the article page. That will take you to the <a href="/wiki/Wikipedia:TP" class="mw-redirect" title="Wikipedia:TP">discussion page</a> for that article. We encourage you to make comments there. Just explain what you feel is incorrect, and how you think it should be fixed. It also helps if you can refer us to sources (such as media stories) that will help us validate the facts.</li>
<li>If you don’t want to comment on the talk page, or if you haven’t been able to persuade anyone there to make the change you want, you can try sending the same information <a href="/wiki/Wikipedia:FEFS#Contact_us_via_e-mail" class="mw-redirect" title="Wikipedia:FEFS">via e-mail</a>. Please note that the people who will read your message are volunteers, and may not have even read the article in question.</li></ul>
<p>If the article seems to you defamatory or legally actionable in any way, please see the question about "<a href="#I_would_like_to_sue_you_for_lying_about_me_in_your_article._How_do_I_proceed?">legal concerns</a>" further down in this FAQ.
</p>
</td>
</tr>
</tbody>
</table>

